* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 10px;
}


.body_main {
    background-color: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.block_link_to_another {
    display: flex;
}

a {
    padding: 1rem;
    display: block;
    width: 15rem;
    background-color: #b8b3ff;
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
    border: 2px solid #b8b3ff;
    text-decoration: none;
}

a:hover {
    border: 2px solid #685eff;
    text-decoration: underline;
}
